<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mainfeed.css">
</head>
<body>
<header>
<nav>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li><a href="../signup/logout">Logout</a></li>
  </ul>
  </nav>
</header>
    <h1>Welcome to Doom-Scrolling!</h1>
    <form action="/dashboard" method="post" enctype="multipart/form-data">
        <label> Upload pic
          <input type="file" name="photo" />
        </label>
        <label>Caption:
          <input type="text" name="caption">
        </label>
        <input type="submit" value="Submit">
    </form>
    <section id="mainFeed">
    <% for (let userPost of userPosts) { %>
      <div id="photoContainer">
      
      
        <p><%= userPost.username %> posted: </p>
        <p><%= userPost.likes %> Likes </p>
        <div id="displayImage">
        <img src='uploads/<%= userPost.imgName %>'>
        <a href="post/<%= userPost.id %>">Click to view post</a>
        <p><%= userPost.caption %></p>
      </div> 
    <% } %>
    </section>
</body>
</html>